body {font-family:Arial; padding:20px}
.grid a {
  display:inline-block;
  margin:5px;
  padding:10px;
  background:#0072ff;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
}
.btn {padding:10px;background:#00c6ff;color:#fff;text-decoration:none;margin:5px;display:inline-block}
.progress-box{background:#eee;border-radius:20px}
.progress-bar{background:#0072ff;color:white;padding:8px;border-radius:20px}
*{pointer-events:auto}
